---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col text-center text-blue-600 underline">
    <a href="/programming">Programming</a>
    <a href="/electronics">Electronics</a>
    <a href="/music">Music</a>
    <a href="/stationery">Stationery</a>
    <a href="/photography">Photography</a>
    <a href="/rhythm-games">Rhythm Games</a>
    <a href="/other-games">Other Games</a>
  </div>
</BaseLayout>
