---
const date = new Date();
---

<footer class="text-center w-full">
  <hr class="text-gray-400" />
  <div class="text-normal py-4">
    <p>Copyright © Callum Wong {date.getFullYear()}</p>
    <p>Powered by <a href="https://astro.build" class="text-blue-600 underline">Astro</a></p>
    <a href="/donate" class="text-xs text-blue-600 underline">
      Support me
    </a>
  </div>
</footer>
