<header class="text-center text-teal-windows my-4">
  <p class="text-normal -mb-2">Welcome to</p>
  <a href="/"><h1 class="text-4xl font-bold italic">callumwong.com</h1></a>
</header>
<hr class="text-gray-400" />
